[submodule "plecamer"]
	path = plecamer
	url = git@git.vauxoo.com:Vauxoo/plecamer.git
	branch = 15.0
[submodule "account-reconcile-partial"]
	path = account-reconcile-partial
	url = git@git.vauxoo.com:vauxoo/account-reconcile-partial.git
	branch = 15.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 15.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 15.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 15.0
[submodule "l10n-mx-currency-rate-live-non-usd"]
	path = l10n-mx-currency-rate-live-non-usd
	url = git@git.vauxoo.com:mexico/l10n-mx-currency-rate-live-non-usd.git
	branch = 15.0
[submodule "account-payment-split"]
	path = account-payment-split
	url = git@git.vauxoo.com:vauxoo/account-payment-split.git
	branch = 15.0
