[submodule "plecamer"]
	path = plecamer
	url = git@git.vauxoo.com:Vauxoo/plecamer.git
	branch = 19.0-mig-plecamer
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 19.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 19.0
[submodule "l10n-mx-cash-basis-entries"]
	path = l10n-mx-cash-basis-entries
	url = git@git.vauxoo.com:mexico/l10n-mx-cash-basis-entries.git
	branch = 19.0
[submodule "l10n-mx-edi-account-move-report"]
	path = l10n-mx-edi-account-move-report
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-account-move-report.git
	branch = 19.0
[submodule "l10n-mx-edi-advance"]
	path = l10n-mx-edi-advance
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-advance.git
	branch = 19.0
[submodule "l10n-mx-edi-cancellation"]
	path = l10n-mx-edi-cancellation
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-cancellation.git
	branch = 19.0
[submodule "l10n-mx-edi-related-documents"]
	path = l10n-mx-edi-related-documents
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-related-documents.git
	branch = 19.0
